# Ignore JetBrains IDE folder
.idea/

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environments
.venv
venv/
env/

# OS-specific files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Workspace settings
MarketSim.code-workspace