body {
    background-color: rgb(50, 50, 50);
    margin: 0rem;
    padding: 0rem;
}
.tile {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(80, 80, 80);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    width: fit-content;
    height: fit-content;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    overflow-x: scroll;
}
.order-col, .agent-col {
    width: fit-content;
    height: 100%;
    max-height: 100dvh;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.graph-col {
    width: fit-content;
    height: 100%;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    align-content: stretch;
    padding: 0.5rem;
    flex-grow: 10;
    justify-content: center;
    justify-items: center;
}
.order-card-ask, .order-card-bid, .order-card-other {
    font-size: small;
    padding: 0rem;
    margin: 0.2rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
}
.order-card-ask {
    background-color: rgba(255, 0, 0, 0.10);
}
.order-card-bid {
    background-color: rgba(0, 255, 0, 0.10);
}
.order-card-other {
    background-color: rgba(255, 255, 255, 0.15);
}
.order-card-content {
    height: fit-content;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
}
.card-body {
    padding: 0.25rem;
    min-width: 10rem;
}
p, div.col, div.row {
    padding: 0rem;
    margin: 0rem;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.order-price-p {
    text-align: left;
}
.order-volume-p {
    text-align: right;
}
.main-container {
    padding: 0rem;
    margin: 0rem;
    height: 100dvh;
    max-height: 100dvh;
    width: 100dvw;
    max-width: 100dvw;
    overflow-y: hidden;
    overflow-x: hidden;
}

/*.top-div, .bottom-div {
    flex: 1;
}*/
.agent-accordian {
    overflow-y: scroll;
    max-height: 100dvh;
}
.actions-row {
    width: 100%;
}
.graph-fig {
    width: 100%
}
#tile-graph {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}
#tile-ob-info {
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    background-color: rgb(60, 60, 60);
    z-index: -1;
    justify-content: center;
}




.custom-scrollbar {
    height: fit-content;
  }
  
  /* Style the entire scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 0.25rem;
    height: max-content;
  }
  
  /* Style the scrollbar track (the background of the scrollbar) */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0.5rem;
  }
  
  /* Style the scrollbar thumb (the draggable part) */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 0.5rem;
  }
  
  /* Style the scrollbar thumb on hover */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #808080;
  }
  
  /* Style the scrollbar corner (area where horizontal and vertical scrollbars meet) */
  .custom-scrollbar::-webkit-scrollbar-corner {
    background: transparent;
  }